/* = КО ВСЕМУ ДОКУМЕНТУ ==================================== */
/* - Позиционирование -------------------------------------- */
html, body {
    height:100%;
}

.wrapper {
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(80px, auto) 1fr minmax(76px, auto);
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* - Типографика ------------------------------------------- */
html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 130%;
    color: #000000;
}

.minisubtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    color: #000000;
}

.text {
    line-height: 140%;
    letter-spacing: 0em;
    color: #434242;
}

.text_color-white {
    color: #FFFFFF;
}

.text_color-black {
    color: #000000;
}

@media screen and (max-width: 767px) {
    .subtitle {
        font-size: 40px;
    }
}

/* - Оформление: ссылки, кнопки ---------------------------- */
.button {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 42px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
}

.button_color-red {
    color: #FFFFFF;
    background: #961914;
}

.button_color-red:hover {
    background: #75110D;
}

.button_color-white {
    color: #961914;
    background: #FFFFFF;
    border: solid 1px #961914;
}

.button_color-white:hover {
    background: #EAD1D0;
    border: none;
}

.button_color-pink {
    background: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.button_color-pink:hover {
    background: rgba(255, 255, 255, 0.4);
}

.button_color-peach {
    background: #FFF4F3;
    color: #EC7973;
    text-decoration: none;
    border: none;
}

.button_color-peach:hover {
    background: #EAD1D0;
    color: #961914;
}

/* = HEADER ================================================ */
/* - Позиционирование -------------------------------------- */
.header {
    grid-area: header;
    display: grid;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    grid-template-columns: minmax(24px, 1fr) minmax(auto, 1200px) minmax(24px, 1fr);
    grid-template-areas:
        ". header__container .";
}

.header::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header__container {
    grid-area: header__container;
    display:grid;
    min-height: 80px;
    align-items: center;
    padding-top: 16px;
    grid-template-columns: minmax(auto, 80px) minmax(auto, 1120px);
    grid-template-areas:
    "header__logo header__menu";
}

.header__logo {
    grid-area: header__logo;
    position: relative;
    z-index: 3;
}

.header__img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.header__burger {
    display: none;
}

.header__menu {
    grid-area: header__menu;
    justify-self: right;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    position: relative;
    padding-inline-start: 0px;
    z-index: 3;
}

.menu__list li:not(:last-of-type) {
    margin-right: 53px;
}

.header__button {
    display:none;
}

/* - Типографика ------------------------------------------- */
.menu__link {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline 3px #961914;
}

/* - Медиазапросы ------------------------------------------ */
@media screen and (max-width: 1023px){
    body.lock {
        overflow: hidden;
    }

    .header.active {
        position: fixed;
    }

    .header__container {
        grid-area: header__container;
        display:grid;
        min-height: 60px;
        width: 100%;
        align-items: center;
        padding-top: 16px;
        grid-template-columns: minmax(auto, 60px) minmax(auto, 915px);
        grid-template-areas:
        "header__logo header__burger";
    }

    .header__burger {
        grid-area: header__burger;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        justify-self: right;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color:#000000;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color:#000000;
    }

    .header__burger span {
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align:center;
        transition: all 0.3s ease 0s;
        overflow: auto;
        background: url(../img/intro/mobile-wave-left.png) 0 160px no-repeat, url(../img/intro/mobile-wave-right.png) 100% 340px no-repeat, #FFFFFF;
        background-attachment: local;
    }

    .header__menu.active{
        top: 0;
    }

    .menu__list {
        display: block;
        padding-top: 108px;
    }

    .menu__list li {
        margin: 0px 0px 40px 0px;
    }

    .menu__list li:not(:last-of-type) {
        margin-right: 0px;
    }

    .menu__link {
        color:#000000;
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;
        text-align: center;
    }

    .header__button {
        display:block;
        padding-top: 102px;
        padding-bottom: 62px;
    }
}

/* = MAIN =================================================== */
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "intro"
        "barf"
        "diet-compo"
        "diets"
        "diet-calc"
        "why-zooov"
        "about-zooov"
        "delivery"
        "faq"
        "contacts";
}

.intro, .diet-calc, .why-zooov, .about-zooov, .delivery, .faq {
    margin-bottom: 180px;
}

.barf, .diets {
    margin-bottom: 80px;
}

.diet-compo {
    margin-bottom: 200px;
}

@media screen and (max-width: 1024px){
    .intro, .diet-calc, .why-zooov, .about-zooov, .delivery, .faq {
        margin-bottom: 80px;
    }

    .barf, .diets {
        margin-bottom: 60px;
    }

    .diet-compo {
        margin-bottom: 100px;
    }

    .why-zooov {
        margin-bottom: 133px;
    }
}

@media screen and (max-width: 1023px){
    .barf {
        margin-bottom: 0px;
    }
}

/* = INTRODUCTION =========================================== */
/* - Позиционирование --------------------------------------- */
.intro {
    display:grid;
    grid-template: 1fr / minmax(24px, 1fr) minmax(auto, 410px) minmax(auto, 790px) minmax(24px, 1fr);
    grid-template-areas:
        ". intro__content . .";
    min-height: 100vh;
    margin-top: -96px;
    background: url('../img/intro/zooov-stroke.jpg') 100% 60% no-repeat, url('../img/intro/intro-bg.jpg') 50%/cover no-repeat;
}

.intro__content {
    grid-area: intro__content;
    z-index: 2;
    align-self: center;
    margin-top: 226px;
    margin-bottom: 225px;
}

.intro__title {
    margin: 0px 0px 10px 0px;
}

.intro__text {
    max-width: 370px;
    margin: 0px 0px 25px 0px;
}

.intro__button {
    display: inline-flex;
}

/* - Типографика ------------------------------------------- */
.intro__title {
    font-family: 'Oswald', sans-serif;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 130%;
    color: #FFFFFF;
}

.intro__text {
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    padding-right: 60px;
}

/* - Медиазапросы ------------------------------------------ */
@media screen and (max-width: 1023px) {
    .intro {
        grid-template: 1fr / minmax(24px, 1fr) minmax(auto, 410px) minmax(auto, 565px) minmax(24px, 1fr);
        grid-template-areas:
        ". intro__content . .";
        margin-top: -80px;
    }
}

@media screen and (max-width: 640px) {
    .intro {
        grid-template: 1fr / minmax(24px, 1fr) minmax(auto, 410px) 1fr minmax(24px, 1fr);
        grid-template-areas:
        ". intro__content . .";
        background: url('../img/intro/zooov-stroke-small.jpg') 100% 95% no-repeat, url('../img/intro/intro-bg.jpg') 50%/cover no-repeat;
    }

    .intro__content {
        margin-top: 207px;
        margin-bottom: 173px;
    }

    .intro__title {
        margin: 0px 0px 24px 0px;
        font-size: 44px;
    }

    .intro__text {
        margin: 0px 0px 48px 0px;
        font-size: 18px;
        padding-right: 130px;
    }
}

/* = WHAT IS BARF ============================================ */
/* - Позиционирование -------------------------------------- */
.barf {
    display:grid;
    grid-template: 1fr / minmax(24px, 1fr) minmax(auto, 612px) minmax(auto, 588px) minmax(24px, 1fr);
    grid-template-areas:
        ". barf__content barf__image .";
    justify-content: space-between;
}

.barf__content {
    grid-area: barf__content;
    box-sizing: border-box;
    margin-right: 10px;
}

.barf__image {
    grid-area: barf__image;
}

.barf__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* - Типографика ------------------------------------------- */
.barf__subtitle {
    padding-top: 55px;
    padding-bottom: 16px;
}

.barf__minisubtitle {
    padding-top: 8px;
}

.bulleted-list {
    padding-left: 0px;
}

.bulleted-list li {
    padding-bottom: 15px;
}

.bulleted-list li {
    list-style: none;
}

.bulleted-list li::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #961914;
    display: inline-block;
    margin: 0px 6px 2px 0px;
    }

/* - Медиазапросы ------------------------------------------ */
@media screen and (max-width: 1023px) {
    .barf {
        display:grid;
        grid-template-columns: minmax(24px, 1fr) minmax(auto, 975px) minmax(24px, 1fr);
        grid-template-areas:
            ". barf__content ."
            ". barf__image .";
        justify-content: space-between;
    }

    .barf__content {
        margin-bottom: 24px;
    }

    .barf__subtitle {
        padding-top: 0px;
        padding-bottom: 8px;
    }

    .barf__text {
        line-height: 150%;
    }
}

/* = DIET COMPOSITION ========================================= */
/* - Позиционирование -------------------------------------- */
.diet-compo {
    display:grid;
    grid-template: 1fr / minmax(24px, 1fr) minmax(auto, 1200px) minmax(24px, 1fr);
    grid-template-areas:
    ". diet-compo__content .";
}

.diet-compo__slider {
    display: none;
}

.diet-compo__content {
    grid-area: diet-compo__content;
    display:grid;
    background: url('../img/common/long-wave-forpinkbg.png') 0px center no-repeat, #EAD1D0;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "diet-compo__adult-dogs diet-compo__puppets";
}

.diet-compo__adult-dogs {
    grid-area: diet-compo__adult-dogs;
}

.diet-compo__puppets {
    grid-area: diet-compo__puppets;
}

.diet-compo__section {
    display:grid;
    margin: 0px 16px;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "diet-compo__minisubtitle diet-compo__minisubtitle"
        "diet-compo__list_left diet-compo__list_right";
}

.diet-compo__minisubtitle {
    grid-area: diet-compo__minisubtitle;
}

.diet-compo__list_left {
    grid-area: diet-compo__list_left;
}

.diet-compo__list_right {
    grid-area: diet-compo__list_right;
}

.diet-compo__minisubtitle {
    margin: 32px auto 0px 7.5%;
}

.diet-compo__list_left {
    margin-left: 15%;
}

.compo__item_meat::before {
    content: url('../img/diet-compo/meat.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_bones::before {
    content: url('../img/diet-compo/bones.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_vegetables::before {
    content: url('../img/diet-compo/vegetables.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_liver::before {
    content: url('../img/diet-compo/liver.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_by-products::before {
    content: url('../img/diet-compo/by-products.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_grains::before {
    content: url('../img/diet-compo/grains.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_fruits::before {
    content: url('../img/diet-compo/fruits.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

/* - Типографика ------------------------------------------- */
.diet-compo__minisubtitle {
    font-size: 14px;
    line-height: 200%;
    text-transform: uppercase;
}

.diet-compo__list_left,
.diet-compo__list_right {
    padding-left: 0;
}

.diet-compo__list_left li,
.diet-compo__list_right li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 250%;
    color: #434242;
}

/* - Медиазапросы ------------------------------------------ */
@media screen and (max-width: 1023px) {
    .diet-compo {
        display:grid;
        grid-template: 1fr / minmax(24px, 1fr) minmax(auto, 975px) minmax(24px, 1fr);
        grid-template-areas:
        ". diet-compo__slider .";
    }

    .diet-compo__content {
        display:none;
    }

    .diet-compo__slider {
        grid-area: diet-compo__slider;
        background: url('../img/common/long-wave-forpinkbg.png') 0px center no-repeat, #EAD1D0;
        display: grid;
    }

    .slick-list {
        overflow: hidden;
    }

    .slick-track {
        display: flex;
    }

    .slider {
        position:relative;
        padding: 0px;
    }

    .slick-arrow {
        position: absolute;
        top: 40%;
        margin: 30px 0px 0px 0px;
        z-index: 10;
        font-size: 0;
        width: 30px;
        height: 60px;
        border: none;
    }

    .slick-arrow.slick-prev {
        left: 0;
        background: url('../img/diet-compo/left-red-arrow.svg') 0 0 / 100% no-repeat;
    }

    .slick-arrow.slick-next {
        right: 0;
        background: url('../img/diet-compo/right-red-arrow.svg') 0 0 / 100% no-repeat;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding-inline-start: 0px;
    }

    .slider.slick-dots li{
        list-style: none;
        margin: 0px 10px;
    }

    .slick-dots button{
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: 1px solid #8B1A12;
        border-radius: 50%;
        padding: 4px;
        margin: 35px 4px 4px 4px;
        }

    .slick-dots li.slick-active button{
        background-color: #8B1A12;
    }
}

@media screen and (max-width: 618px) {
    .diet-compo__section {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "diet-compo__minisubtitle"
            "diet-compo__list_left"
            "diet-compo__list_right";
    }

    .diet-compo__minisubtitle, .diet-compo__list_left, .diet-compo__list_right {
        margin-left: 25%;
    }

    .diet-compo__list_left {
        margin-bottom: 0px;
    }

    .diet-compo__list_right {
        margin-top: 0px;
    }

    .diet-compo__slider {
        grid-area: diet-compo__slider;
        background: url('../img/common/long-vert-wave-forpinkbg.png') 50%/contain no-repeat, #EAD1D0;
        display: grid;
    }
}

/* = ZOOOV DIETS ============================================== */
/* - Позиционирование -------------------------------------- */
.diets {
    grid-area: diets;
    display: grid;
    grid-template-columns: minmax(24px, 1fr) minmax(auto, 326px) minmax(auto, 97px) minmax(auto, 777px) minmax(24px, 1fr);
    grid-template-areas:
        ". diets__subtitle . diets__text ."
        ". diets__items diets__items diets__items  .";
}

.diets__subtitle {
    grid-area: diets__subtitle;
    display: grid;
    align-self: center;
}

.diets__text {
    grid-area: diets__text;
}

.diets__items {
    grid-area: diets__items;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 26px;
    row-gap: 50px;
    margin-top: 72px;
}

.diets__slider {
    display: none;
}

.diets__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px,auto) / 1fr;
}

.diets__image {
    position: relative;
    padding: 0px 0px 90% 0px;
    margin: 0px 0px 47px 0px;
    grid-auto-rows: 1fr;
}

.diets__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.diets__button {
    justify-self: start;
}

/* - Типографика ------------------------------------------- */
.diets__for {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 4px;
}

.diets__compo, .diets_weight {
    font-size: 13px;
    color: #9F9E9D;
}

.diets__compo {
    padding-bottom: 16px;
}

.diets__descrition {
    font-size: 14px;
    padding-bottom: 11px;
}

.diets__weight {
    padding-bottom: 24px;
}

/* - Медиазапросы ------------------------------------------ */
@media screen and (max-width: 835px) {
    .diets {
        grid-area: diets;
        display: grid;
        grid-template-columns: minmax(24px, 1fr) minmax(auto, 787px) minmax(24px, 1fr);
        grid-template-areas:
            ". diets__subtitle ."
            ". diets__text ."
            ". diets__items .";
    }

    .diets__subtitle {
        padding-bottom: 8px;
    }

    .diets__text {
        margin: 16px 0px;
    }
}

@media screen and (max-width: 577px) {
    .diets {
        grid-area: diets;
        display: grid;
        grid-template-columns: minmax(24px, 1fr) minmax(auto, 529px) minmax(24px, 1fr);
        grid-template-areas:
            ". diets__subtitle ."
            ". diets__slider diets__slider";
    }

    .diets__text {
        display: none;
    }

    .diets__items {
        display: none;
    }

    .diets__slider {
        display: grid;
        grid-area: diets__slider;
        justify-self: center;
        width: 100%;
    }

    .diets__subtitle {
        padding-bottom: 40px;
    }

    .diets__text {
        margin: 16px 0px;
    }

    .diets__item {
        transition: all 0.3s ease 0.3s;
        opacity: 0.4;
    }

    .diets__item.slick-center {
        opacity: 1;
        margin-left: -47px;
    }
}

/* = DIET CALCULATION ========================================= */
/* - Позиционирование -------------------------------------- */
.diet-calc {
    grid-area: diet-calc;
    display:grid;
    grid-template: 1fr / minmax(24px, 1fr) minmax(auto, 1200px) minmax(24px, 1fr);
    grid-template-areas:
        ". diet-compo__content .";
}

.diet-calc__content {
    grid-area: diet-compo__content;
    display:grid;
    background: url('../img/common/long-wave-forpinkbg.png') 0px center no-repeat, #EAD1D0;
    grid-template-columns: 66% 34%;
    min-height: 184px;
    grid-template-areas:
        "diet-calc__text diet-calc__button";
}

.diet-calc__text {
    grid-area: diet-calc__text;
    display: flex;
    align-self: center;
}

.diet-calc__button {
    grid-area: diet-calc__button;
    display: flex;
    justify-self: center;
    align-self: center;
}

/* - Типографика ------------------------------------------- */
.diet-calc__text {
    font-size: 28px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
    padding-left: 5%;
    padding-right: 2.5%;
}

/* - Медиазапросы ------------------------------------------ */
@media screen and (max-width: 1008px) {
    .diet-calc {
        grid-area: diet-calc;
        display:grid;
        grid-template-columns: minmax(24px, 1fr) minmax(auto, 960px) minmax(24px, 1fr);
        grid-template-areas:
            ". diet-compo__content .";
    }

    .diet-calc__content {
        grid-area: diet-compo__content;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "diet-calc__text"
            "diet-calc__button";
    }

    .diet-calc__text {
        grid-area: diet-calc__text;
        padding-left: 32px 24px 24px 24px;
        text-align: center;
    }

    .diet-calc__button {
        grid-area: diet-calc__button;
        margin-bottom: 32px;
    }
}

/* = WHY ZOOOV ================================================ */
/* - Позиционирование -------------------------------------- */
.why-zooov {
    display:grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
    ". why-zooov__subtitle ."
    ". why-zooov__items .";
}

.why-zooov__subtitle {
    grid-area: why-zooov__subtitle;
    margin-top: 0px;
    margin-bottom: 60px;
    display: grid;
    justify-self: start;
}

.why-zooov__items {
    grid-area: why-zooov__items;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 27px;
    row-gap: 50px;
    margin-top: 3px;
}

.why-zooov__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto minmax(23px,auto) 1fr / 1fr;
}

.why-zooov__image {
    position: relative;
    margin-bottom: 22px;
}

/* - Типографика ------------------------------------------- */
.why-zooov__minisubtitle {
    padding-top: 0px;
    padding-bottom: 8px;
}

/* = ABOUT ZOOOV: FROM ZOOOV WITH CARE AND LOVE =============== */
/* - Позиционирование -------------------------------------- */
.about-zooov {
    display:grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". about-zooov__content .";
    background: url('../img/about-us/about-us-waves.png') -20px center no-repeat, #FFF4F3;
}

.about-zooov__content {
    grid-area: about-zooov__content;
    display:grid;
    grid-template-columns: 46.33% 53.77%;
    grid-template-areas:
        "about-zooov__gallery about-zooov__description";
    padding: 80px 0px;
}

.about-zooov__gallery {
    grid-area: about-zooov__gallery;
    display: grid;
    grid-template-columns: minmax(auto, 194px) minmax(auto, 281px) minmax(auto, 81px);
}

.gallery__big {
    grid-area: 1 / 1 / 3 / 3;
    position: relative;
}

.gallery__big img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.gallery__small {
    grid-area: 2 / 2 / 4 / 4;
    position: relative;
}

.gallery__small img{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
}

.gallery__dog {
    grid-area: 3 / 1 / 3 / 1;
    position: relative;
    max-width: 183px;
    z-index: 2;
}

.gallery__dog img{
    position: absolute;
    width: 100%;
    height: auto;
    left: -50px;
}

.gallery__heart {
    grid-area: 2 / 3 / 2 / 3;
    position: relative;
    max-width: 120px;
    z-index: 2;
}

.gallery__heart img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 25px;
    left: -40px;
}

.about-zooov__description {
    grid-area: about-zooov__description;
    margin-left: 9%;
    margin-right: 10%;
}

.about-zooov__subtitle {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 130%;
}

/* - Типографика ------------------------------------------- */
.about-zooov__text {
    line-height: 130%;
}

/* = DELIVERY: HOW TO GET ZOOOV? ============================== */
/* - Позиционирование -------------------------------------- */
.delivery {
    grid-area: delivery;
    display:grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
    ". delivery__subtitle ."
    ". delivery__items .";
}

.delivery__subtitle {
    grid-area: delivery__subtitle;
    display: grid;
    justify-self: start;
}

.delivery__items {
    grid-area: delivery__items;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 27px;
    row-gap: 50px;
    margin-top: 2px;
}

.delivery__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto minmax(23px,auto) 1fr / 1fr;
}

.delivery__image {
    position: relative;
    margin-bottom: 22px;
}

.image__heart {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* - Типографика ------------------------------------------- */
.delivery__subtitle {
    padding-bottom: 60px;
}

.delivery__minisubtitle {
    padding-top: 0px;
    padding-bottom: 8px;
}

/* = FAQ ====================================================== */
/* - Позиционирование -------------------------------------- */
.faq {
    grid-area: faq;
    display:grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 348px) minmax(auto, 76px) minmax(auto, 776px) minmax(1rem, 1fr);
    grid-template-areas:
        ". faq__subtitle . faq__spoiler .";
    margin-bottom: 180px;
}

.faq__subtitle {
    grid-area: faq__subtitle;
}

.faq__spoiler {
    grid-area: faq__spoiler;
}

.spoiler__minisubtitle {
    line-height: 140%;
}

/**/

.spoiler {
}
.spoiler__item {

}

.spoiler__minisubtitle {
    position: relative;
    padding: 0px 0px 0px 30px;
    cursor: pointer;
}

.spoiler__minisubtitle::before {
    transform: rotate(40deg);
    left:0;
}

.spoiler__minisubtitle::after {
    transform: rotate(-40deg);
    left:6.5px;
}

.spoiler__minisubtitle::before,
.spoiler__minisubtitle::after {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #8B1A12;
    position: absolute;
    top: 45px;
    transition: all 0.3s ease 0s;
}

.spoiler__minisubtitle.header.active:before,
.spoiler__minisubtitle.header.active:after {
    background-color: blue;
}

.spoiler__minisubtitle.header.active:before {
    transform: rotate(-40deg);
}

.spoiler__minisubtitle.header.active:after {
    transform: rotate(40deg);
}

.spoiler__text {
    display: none;
}


/* - Типографика ------------------------------------------- */
.spoiler__minisubtitle {
    padding-top: 32px;
}
.spoiler__text {
    padding-top: 12px;
    margin: 0px;
}

/* = CONTACTS ================================================= */
/* - Позиционирование -------------------------------------- */
.contacts {
    grid-area: contacts;
    display:grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 302px) minmax(auto, 187px) minmax(auto, 636px) minmax(auto, 75px) minmax(1rem, 1fr);
    grid-template-areas:
        ". contacts__how-to . contacts__form . .";
    background: url(../img/contacts/contacts-wave-left.png) 0px 150px no-repeat, url(../img/contacts/contacts-wave-right.png) 100% top no-repeat, #961914;
}

.contacts__how-to {
    grid-area: contacts__how-to;
}

.contacts__form {
    grid-area: contacts__form;
}

.contacts__subtitle {
    margin-top: 80px;
}

.contacts__text {
    margin-top: 8px;
}

.contacts__phone {
    margin-top: 32px;
    margin-bottom: 24px;
}

.contacts__insta {
    margin-top: 40px;
    margin-bottom: 80px;
}

.contacts__form__inputs {
    margin-top: 34px;
    margin-bottom: 76px;
}

.contacts__minisubtitle {
    line-height: 140%;
    margin-top: 110px;
    margin-bottom: 4px;
}

.inputs__name-mail {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.inputs__question {
    display: flex;
    margin-bottom: 22px;
}

.contact-form__privacy {
    max-width: 260px;
    display: inline-flex;
}

.contact-form__privacy p {
    padding-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-form__privacy-button {
    display: flex;
    justify-content: space-between;
}


.button_color-pink {
    margin-bottom: 16px;
}

.inputs__name, .inputs__mail, .inputs__question textarea, .contact-form__privacy input {
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.inputs__name {
    margin-right: 12px;
    width:100%;
}

.inputs__mail {
    margin-left: 12px;
    width:100%;
}

.inputs__question textarea {
    width:100%;
    min-height: 122px;
}

/* - Типографика ------------------------------------------- */
.contacts__phone {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #FFFFFF;
}

.contact-form__privacy {
    font-size: 12px;
    line-height: 140%;
}

.inputs__name, .inputs__mail, .inputs__question textarea {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
    align-content: center;
}

.inputs__name, .inputs__mail, .inputs__question textarea {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 13px;
}

/* = FOOTER =================================================== */
/* - Позиционирование -------------------------------------- */
.footer {
    grid-area: footer;
    width: 100%;
	background-color:#69120E;
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
    grid-template-areas:
        ". footer__content .";
}

.footer__content {
    grid-area: footer__content;
    display: flex;
    justify-content: space-between;
}

/* - Типографика ------------------------------------------- */
.text-footer, .text-footer a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
}

.footer__content div:not(:last-of-type) {
    padding-right: 10px;
}
