/* = КО ВСЕМУ ДОКУМЕНТУ ==================================== */
html, body {
    height:100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 130%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 16px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* = HEADER ================================================ */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display:flex;
    min-height: 80px;
    align-items: center;
    padding-top: 16px;
}

.header__logo {
    flex: 0 0 80px;
    position: relative;
    z-index: 3;
}

.header__logo img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.header__menu {
    margin: 0 0 0 356px;
}

.header__button {
    display:none;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    position: relative;
    padding-inline-start: 0px;
    z-index: 3;
}

.menu__link {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
}

.menu__list li:not(:last-of-type) {
    margin-right: 50px;
}

.menu__link:hover {
    text-decoration: underline 2px #961914;
}

/*бургер*/
.header__container {
    height: 60px;
    margin-top: 8px;

}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    display: none;
}

@media screen and (max-width: 1220px){
    .intro__text {
        font-size: 19px;
    }

    .intro__title {
        font-size: 49px;
    }

    ._container {
        padding: 16px 24px 0px 24px;
    }

    .header__menu {
        margin: 0 0 0 156px;
    }
}

@media screen and (max-width: 1030px){
    body.lock {
        overflow: hidden;
    }

    .header.active {
        position: fixed;
    }

    .header__body {
        height: 60px;
        width: 100%;
        display: flex;
    }

    .header__logo {
        flex: 0 0 60px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color:#000000;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color:#000000;
    }

    .header__burger span {
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:#E5E5E5;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align:center;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .menu__image_left-wave img {
        display: block;
        position: absolute;
        left: 0;
        top: 156px;
    }

    .menu__image_right-wave img {
        display: block;
        position: absolute;
        right: 0;
        top: 281px;
    }

    .header__menu.active{
        top: 0;
    }

    .menu__list {
        display: block;
        padding-top: 108px;
    }

    .menu__list li {
        margin: 0px 0px 40px 0px;
    }

    .menu__list li:not(:last-of-type) {
        margin-right: 0px;
    }

    .menu__link {
    color:#000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    }

    .header__button {
        display:block;
        padding-top: 102px;
        padding-bottom: 62px;
    }
}

/* = MAIN =================================================== */
.main {
    flex: 1 1 auto;
}

/* = INTRODUCTION ============================================ */
.main__intro {
    position: relative;
    min-height: 100vh;
}

.intro__body {
    padding: 226px 0px 225px 0px;
    position: relative;
    z-index: 2;
    max-width: 410px;
}

.intro__title {
    font-family: 'Oswald', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    margin: 0px 0px 10px 0px;
}

.intro__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    max-width: 370px;
    margin: 0px 0px 25px 0px;
}

.intro__button {
    display: inline-flex;
}

.button {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 42px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
}

.button_red {
    color: #FFFFFF;
    background: #961914;
}

.button_red:hover {
    background: #75110D;
}

.intro__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.intro__zooov-stroke {
    position: absolute;
    right:0;
    top: 20%;
    max-height: 548px;
}
/* = WHAT IS BARF ============================================ */
.barf {
    grid-area: barf;
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1232px) 1fr;
    grid-template-areas:
        ". text .";
    background-color:blueviolet;
}

.text {
    grid-area: text;
    padding: 0 16px;
    background-color: gold;
}

/* = DIET COMPOSITION ========================================= */
.diet-compo {
    grid-area: diet-compo;
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas:
        ". text .";
    background-color:brown;
}

/* = ZOOOV DIETS ============================================== */
.diets {
    grid-area: diets;
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas:
        ". text .";
    background-color:burlywood;
}

/* = DIET CALCULATION ========================================= */
.diet-calc {
    grid-area: diet-calc;
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas:
        ". text .";
    background-color:cadetblue;
}

/* = WHY ZOOOV ================================================ */
.why-zooov {
    grid-area: why-zooov;
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas:
        ". text .";
    background-color:chocolate;
}

/* = ABOUT ZOOOV: FROM ZOOOV WITH CARE AND LOVE =============== */
.about-zooov {
    grid-area: about-zooov;
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas:
        ". text .";
    background-color:cornflowerblue;
}

/* = DELIVERY: HOW TO GET ZOOOV? ============================== */
.delivery {
    grid-area: delivery;
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas:
        ". text .";
    background-color:crimson;
}

/* = FAQ ====================================================== */
.faq {
    grid-area: faq;
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas:
        ". text .";
    background-color:darkcyan;
}

/* = CONTACTS ================================================= */
.contacts {
    grid-area: contacts;
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas:
        ". text .";
    background-color:darkgoldenrod;
}

/* = FOOTER =================================================== */
.footer {
    grid-area: footer;
    width: 100%;
	padding: 0px 16px 16px 16px;
	background-color:darkolivegreen;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 1200px) 1fr;
}

