/* = КО ВСЕМУ ДОКУМЕНТУ ==================================== */
/* - Позиционирование -------------------------------------- */
html, body {
    height:100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 16px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* - Типографика ------------------------------------------- */
html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 130%;
}

/* = HEADER ================================================ */
/* - Позиционирование -------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.header__container {
    display:flex;
    min-height: 80px;
    align-items: center;
    padding-top: 16px;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex: 0 0 80px;
    position: relative;
    z-index: 3;
}

.header__logo img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.header__burger {
    display: none;
}

.header__menu {
    margin: 0 0 0 356px;
}

.header__button {
    display:none;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    position: relative;
    padding-inline-start: 0px;
    z-index: 3;
}

.menu__list li:not(:last-of-type) {
    margin-right: 50px;
}

/* - Типографика ------------------------------------------- */
.menu__link {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline 2px #961914;
}

/* - Медиазапросы ------------------------------------------ */
@media screen and (max-width: 1280px){
    ._container {
        padding: 16px 19px 0px 19px;
    }

    .header__menu {
        margin: 0 0 0 156px;
    }

    .intro__title {
        font-size: 49px;
    }

    .intro__text {
        font-size: 19px;
    }
}

@media screen and (max-width: 1030px){
    body.lock {
        overflow: hidden;
    }

    .header.active {
        position: fixed;
    }

    .header__container {
        height: 60px;
    }

    .header__body {
        height: 60px;
        width: 100%;
        display: flex;
    }

    .header__logo {
        flex: 0 0 60px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color:#000000;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color:#000000;
    }

    .header__burger span {
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align:center;
        transition: all 0.3s ease 0s;
        overflow: auto;
        background: url(../img/intro/mobile-wave-left.png) 0 160px no-repeat, url(../img/intro/mobile-wave-right.png) 100% 340px no-repeat, #FFFFFF;
        background-attachment: local;
    }

    .header__menu.active{
        top: 0;
    }

    .menu__list {
        display: block;
        padding-top: 108px;
    }

    .menu__list li {
        margin: 0px 0px 40px 0px;
    }

    .menu__list li:not(:last-of-type) {
        margin-right: 0px;
    }

    .menu__link {
    color:#000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    }

    .header__button {
        display:block;
        padding-top: 32px;
        padding-bottom: 62px;
    }
}

@media screen and (max-width: 768px){
    .header__button {
        padding-top: 102px;
    }
}

/* = MAIN =================================================== */
.main {
    flex: 1 1 auto;
}

/* = INTRODUCTION =========================================== */
/* - Позиционирование --------------------------------------- */
.main__intro {
    position: relative;
    min-height: 100vh;
}

.intro__body {
    padding: 28.25vh 0px 28.125vh 0px;
    position: relative;
    max-width: 410px;
    z-index: 2;
}

.intro__title {
    margin: 0px 0px 1.25vh 0px;
}

.intro__title::nth-of-type(4n) {
    background-color: lime;
}

.intro__text {
    max-width: 370px;
    margin: 0px 0px 3.125vh 0px;
    padding-right: 60px;
}

.intro__button {
    display: inline-flex;
}

.intro__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.intro__zooov-stroke {
    position: absolute;
    right:0;
    top: 20%;
    max-height: 548px;
}

.intro__zooov-stroke img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* - Типографика ------------------------------------------- */
.intro__title {
    font-family: 'Oswald', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
}

.intro__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

/* - Оформление: ссылки, кнопки ---------------------------- */

.button {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 42px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
}

.button_red {
    color: #FFFFFF;
    background: #961914;
}

.button_red:hover {
    background: #75110D;
}

/* - Медиазапросы ------------------------------------------ */
@media screen and (max-width: 823px){
    .intro__title {
        font-size: 49px;
    }

    .intro__text {
        font-size: 18px;
    }

    .intro__zooov-stroke {
        height: 334px;
        top: auto;
        bottom: 7px;
    }
}

@media screen and (max-width: 768px){
    .intro__body {
        padding: 27.75vh 0px 23.19vh 0px;
        max-width: 410px;
    }

    .intro__title {
        font-size: 44px;
    }

    .intro__text {
        font-size: 19px;
    }
}

@media screen and (max-width: 375px){
    .intro__zooov-stroke {
        height: 334px;
    }
}

/* = WHAT IS BARF ============================================ */
/* - Позиционирование -------------------------------------- */
.barf {
    display:grid;
    grid-template: 1fr / minmax(auto, 612px) minmax(auto, 588px);
    grid-template-areas:
        "barf__content barf__image";
    padding-top: 180px;
    padding-bottom: 80px;
    justify-content: space-between;
}

.barf__content {
    grid-area: barf__content;
    box-sizing: border-box;
    padding-right: 10px;
}

.barf__image {
    grid-area: barf__image;
}

.barf__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* - Типографика ------------------------------------------- */
.subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-top: 55px;
    margin-bottom: 32px;
    color: #000000;
}

.minisubtitle {
    font-size: 18px;
    font-weight: 600;
    padding-top: 24px;
    padding-bottom: 16px;
    margin: 0px;
    color: #000000;
}

.text {
    line-height: 150%;
    letter-spacing: 0em;
    color: #434242;
}

.bulleted-list {
    padding-left: 0px;
}

.bulleted-list li {
    line-height: 140%;
    padding-bottom: 15px;
    color: #434242;
}

.bulleted-list li {
    list-style: none;
}

.bulleted-list li::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #961914;
    display: inline-block;
    margin: 0px 6px 2px 0px;
    }

/* = DIET COMPOSITION ========================================= */
.diet-compo {
    padding-top: 80px;
    padding-bottom: 203px;
    display:grid;
    grid-template: 1fr / minmax(auto, 1200px);
}

.diet-compo__content {
    display:grid;
    background: url('../img/common/long-wave-forpinkbg.png') 0px center no-repeat, #EAD1D0;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "diet-compo__adult-dogs diet-compo__puppets";
}

.diet-compo__adult-dogs {
    grid-area: diet-compo__adult-dogs;
}

.diet-compo__puppets {
    grid-area: diet-compo__puppets;
}

.diet-compo__section {
    display:grid;
    padding: 0px 16px;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
        "diet-compo__subtitle diet-compo__subtitle"
        "diet-compo__list_left diet-compo__list_right";
}

.diet-compo__subtitle {
    grid-area: diet-compo__subtitle;
}

.diet-compo__list_left {
    grid-area: diet-compo__list_left;
}

.diet-compo__list_right {
    grid-area: diet-compo__list_right;
}

.diet-compo__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 200%;
    text-transform: uppercase;
    margin: 32px auto 16px 7.5%;
    color: #000000;
}

.diet-compo__list_left,
.diet-compo__list_right {
    padding-left: 0;
}

.diet-compo__list_left {
    margin-left: 15%;
}

.diet-compo__list_left li,
.diet-compo__list_right li {
    list-style-type: none;
    padding-bottom: 30px;
}

.compo__item_meat::before {
    content: url('../img/diet-compo/meat.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_bones::before {
    content: url('../img/diet-compo/bones.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_vegetables::before {
    content: url('../img/diet-compo/vegetables.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_liver::before {
    content: url('../img/diet-compo/liver.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_by-products::before {
    content: url('../img/diet-compo/by-products.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_grains::before {
    content: url('../img/diet-compo/grains.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

.compo__item_fruits::before {
    content: url('../img/diet-compo/fruits.svg');
    width: 20px;
    display: inline-block;
    margin: 0px 16px 0px 0px;
    }

/* = ZOOOV DIETS ============================================== */
.diets {
    display:grid;
    grid-template-columns: minmax(auto, 326px) minmax(auto, 97px) minmax(auto, 777px);
    grid-template-areas:
        "diets__subtitle . diets__text"
        "diets__items diets__items diets__items";
        padding-bottom: 80px;
}
.diets__subtitle {
    grid-area: diets__subtitle;
    display: grid;
    align-self: center;
    margin: 0px;
}

.diets__text {
    grid-area: diets__text;
}

.diets__items {
    grid-area: diets__items;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 72px;
    column-gap: 26px;
    row-gap: 50px;
}
.diets__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px,auto) / 1fr;
}
.diets__image {
    position: relative;
    padding: 0px 0px 90% 0px;
    margin: 0px 0px 47px 0px;
    grid-auto-rows: 1fr;
}

.diets__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.diets_destination {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 6px;
    margin: 0px;
    color: #000000;
}

.diets__compo, .diets_weight {
    font-size: 13px;
    color: #9F9E9D;
}

.diets__compo {
    padding-bottom: 16px;
}

.diets__descrition {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0em;
    color: #434242;
    padding-bottom: 11px;
}

.diets_weight {
    padding-bottom: 24px;
}

.button_white {
    color: #961914;
    background: #ffffff;
    border: solid 1px #961914;
}

.button_white:hover {
    background: #EAD1D0;
    border: none;
}

.diets_button {
    justify-self: start;
}

/* = DIET CALCULATION ========================================= */
.diet-calc {
    margin-bottom: 180px;
    display:grid;
    grid-template: 1fr / minmax(auto, 1200px);
}

.diet-calc__content {
    display:grid;
    background: url('../img/common/long-wave-forpinkbg.png') 0px center no-repeat, #EAD1D0;
    grid-template-columns: 66% 34%;
    min-height: 184px;
    grid-template-areas:
        "diet-compo__text diet-compo__button";
}

.diet-compo__text {
    grid-area: diet-compo__text;
    display: flex;
    padding-left: 5%;
    padding-right: 2.5%;
    align-self: center;
}

.diet-compo__text {
    font-size: 28px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
}

.diet-compo__button {
    grid-area: diet-compo__button;
    display: flex;
    justify-self: center;
    align-self: center;
}


/* = WHY ZOOOV ================================================ */
.why-zooov {
    display:grid;
    padding-bottom: 190px;
    grid-template-columns: minmax(auto, 1200px);
    grid-template-areas:
    "why-zooov__subtitle"
    "why-zooov__items";
}

.why-zooov__subtitle {
    grid-area: why-zooov__subtitle;
    margin-top: 0px;
    margin-bottom: 60px;
    display: grid;
    justify-self: start;
}

.why-zooov__items {
    grid-area: why-zooov__items;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 3px;
    column-gap: 27px;
    row-gap: 50px;
}

.why-zooov__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px,auto) / 1fr;
}

.why-zooov__image {
    position: relative;
    padding-bottom: 22px;
}

.why-zooov__minisubtitle {
    padding-top: 0px;
    padding-bottom: 8px;
}

/* = ABOUT ZOOOV: FROM ZOOOV WITH CARE AND LOVE =============== */
.about-zooov {
    display:grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas:
        ". about-zooov__content .";
    background: url('../img/about-us/about-us-waves.png') -20px center no-repeat, #FFF4F3;
}

.about-zooov__content {
    grid-area: about-zooov__content;
    display:grid;
    grid-template-columns: 46.33% 53.77%;
    padding-top: 80px;
    padding-bottom: 80px;
    grid-template-areas:
        "about-zooov__gallery about-zooov__description";
}

.about-zooov__gallery {
    grid-area: about-zooov__gallery;
    display: grid;
    grid-template-columns: minmax(auto, 194px) minmax(auto, 281px) minmax(auto, 81px);
}

.gallery__big {
    grid-area: 1 / 1 / 3 / 3;
    position: relative;
}

.gallery__big img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.gallery__small {
    grid-area: 2 / 2 / 4 / 4;
    position: relative;
}

.gallery__small img{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
}

.gallery__dog {
    grid-area: 3 / 1 / 3 / 1;
    position: relative;
    max-width: 183px;
    z-index: 2;
}

.gallery__dog img{
    position: absolute;
    width: 100%;
    height: auto;
    top: -91px;
    left: -50px;
}

.gallery__heart {
    grid-area: 2 / 3 / 2 / 3;
    position: relative;
    max-width: 120px;
    z-index: 2;
}

.gallery__heart img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 135px;
    left: -40px;
}

.about-zooov__description {
    grid-area: about-zooov__description;
    padding-left: 9%;
    padding-right: 10%;
}

.about-zooov__subtitle {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 130%;
}

/* = DELIVERY: HOW TO GET ZOOOV? ============================== */
.delivery {
    grid-area: delivery;
    display:grid;
    padding-top: 180px;
    padding-bottom: 200px;
    grid-template-columns: minmax(auto, 1200px);
    grid-template-areas:
    "delivery__subtitle"
    "delivery__items";
}

.delivery__subtitle {
    grid-area: delivery__subtitle;
    margin-top: 0px;
    margin-bottom: 60px;
    display: grid;
    justify-self: start;
}

.delivery__items {
    grid-area: delivery__items;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 3px;
    column-gap: 27px;
    row-gap: 50px;
}

.delivery__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px,auto) / 1fr;
}

.delivery__image {
    position: relative;
    padding-bottom: 22px;
}

.delivery__minisubtitle {
    padding-top: 0px;
    padding-bottom: 8px;
}

/* = FAQ ====================================================== */
.faq {
    grid-area: faq;
    display:grid;
    grid-template-columns: minmax(auto, 348px) minmax(auto, 76px) minmax(auto, 776px);
    grid-template-areas:
        "faq__subtitle . faq__spoiler";
    margin-bottom: 180px;
}

.faq__subtitle {
    grid-area: faq__subtitle;
}

.faq__spoiler {
    grid-area: faq__spoiler;
}

/* = CONTACTS ================================================= */
.contacts {
    grid-area: contacts;
    display:grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 302px) minmax(auto, 187px) minmax(auto, 636px) minmax(auto, 75px) minmax(1rem, 1fr);
    grid-template-areas:
        ". contacts__how-to . contacts__form . .";
    background: url(../img/contacts/contacts-wave-left.png) 0px 150px no-repeat, url(../img/contacts/contacts-wave-right.png) 100% top no-repeat, #961914;
}

.contacts__how-to {
    grid-area: contacts__how-to;
}

.contacts__form {
    grid-area: contacts__form;
}

.contacts__subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.02em;
    padding-top: 80px;
    margin: 0px;
    color: #FFFFFF;
}

.contacts__text {
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.contacts__phone {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 24px;
}

.button_pink {
    background: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    margin-bottom: 16px;
}

.button_pink:hover {
    background: rgba(255, 255, 255, 0.4);
}

.contacts__text_two {
    padding-top: 24px;
    padding-bottom: 80px;
    color: #FFFFFF;
}

.contacts__form__inputs {
    margin-top: 34px;
}

.contacts__minisubtitle {
    color: #FFFFFF;
    padding-top: 110px;
}

.contacts__form__text {
    color: #FFFFFF;
}

.button_white {
    background:#FFF4F3;
    border: none;
}

.button_white a {
    color: #EC7973;
    text-decoration: none;
}

.button_white:hover {
    background:#EAD1D0;
}

.button_white a:hover {
    color: #961914;
}

.inputs__name-tel {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.inputs__question {
    display: flex;
    justify-content: stretch;
    margin-bottom: 22px;
}

.contact-form__privacy {
    color: #FFFFFF;
    max-width: 260px;
}

.contact-form__privacy-button {
    display: flex;
    justify-content: space-between;
}

/* = FOOTER =================================================== */
.footer {
    grid-area: footer;
    width: 100%;
	background-color:#69120E;
	display: grid;
	grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-areas:
        ". footer__content .";
}

.footer__content {
    grid-area: footer__content;
    display: flex;
    justify-content: space-between;
}

.text-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__content div:not(:last-of-type) {
    padding-right: 10px;
}
